.content p {
  text-align: justify;
  color: var(--color2);
  font-size: 15px!important;
}



.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: var(--color1) !important;
}

.content {
  margin: 5%;
  left: 10%;
  right: 10%;
}

.list-items {
  outline: 2px solid var(--color1);
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  color: var(--color1);
  width: 100%;
  text-align: center;
}


.list-group-items {
  list-style: none;
}

.title-plenary {
  color: var(--color1);
  font-weight: bold;
}


.card {
  border-radius: 50% !important;
  width: 100%;
  transition: all .2s ease-in-out;
}

.card-text {
  font-weight: bold;
}

.card-text > 
p {
  font-size: 20px !important;
}

.card-text-desc {
  color: var(--color1);
  font-weight: bold;
  ;
  font-size: 15px;

}

.card-img-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)) !important;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.timeline-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.timeline-steps .timeline-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem
}

@media (min-width:768px) {
  .timeline-steps .timeline-step:not(:last-child):after {
    content: "";
    display: block;
    border-top: .25rem dotted var(--color1);
    width: 3.46rem;
    position: absolute;
    left: 7.5rem;
    top: .3125rem
  }

  .timeline-steps .timeline-step:not(:first-child):before {
    content: "";
    display: block;
    border-top: .25rem dotted var(--color1);
    width: 3.8125rem;
    position: absolute;
    right: 7.5rem;
    top: .3125rem
  }
}

.timeline-steps .timeline-content {
  width: 10rem;
  text-align: center
}

.timeline-steps .timeline-content .inner-circle {
  border-radius: 1.5rem;
  height: 1rem;
  width: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color2);
}

.timeline-steps .timeline-content .inner-circle:before {
  content: "";
  background-color: var(--color2);
  display: inline-block;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  border-radius: 6.25rem;
  opacity: .5
}

.timeline-content .text-desc {
  font-size: 15px !important;
}